<header class="container d-flex flex-column">
    <!-- texto y botones principales -->
    <div class="container">
        <h1 class="fs-1 fw-bolder text-center text-white mb-4">A modern publishing platform</h1>
        <h6 class="text-center text-white mb-5">Grow your audience and build your online brand</h6>
    </div>
    <div class="container d-flex justify-content-center mb-5">
        <button type="button"
            class="btn btn-primary bg-light fw-bolder mx-2 text-primary ubuntuFont rounded-pill">Start
            for Free</button>
        <button type="button"
            class="btn btn-outline-primary fw-bolder mx-2 text-white ubuntuFont rounded-pill border border-light border-2">Learn
            More</button>
    </div>
</header>