<section class="sectionCharacteristic my-5">
    <div class="container py-5 px-0 vw-100">
        <img class="vw-100" src="../assets/illustration-laptop-mobile.svg" alt="" srcset="">
    </div>
    <div class="container">
        <h4 class="text-center fw-bolder fs-2 text-secondary mt-2">Free, open, simple</h4>
        <p class="text-center mx-4">Blogr is a free and open source application backed by a large community of helpful
            developers. It supports features such as code syntaz highlighting, RSS feeds, social media integration,
            third-party commenting tools, and works seamlessly with Google Analytics. The architecture is clean and is
            relatively easy to learn.</p>
    </div>
    <div class="container">
        <h4 class="text-center fw-bolder fs-2 text-secondary mt-4">Powerful tooling</h4>
        <p class="text-center mx-4">Batteries included. We built a simple and straightforward CLI tool that makes
            customization and deployment a breeze, but capable of producing even the most complicated sites.</p>
    </div>
</section>