.container-fluid.bg-primary {
    height: 60vh;
    background-image: url('../assets/bg-pattern-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position-y: 31%;
    background-position-x: 35%;
    border-radius: 0px 0px 0px 12vmax;
    background-size: 335%;
}

.fuenteUbuntu {
    font-family: 'Ubuntu', sans-serif;
}

.section-title {
    padding-top: 8vw;
}

.second-container.bg-info {
    height: 75vh;
    background-image: url('../assets/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 850%;
    background-size: 161%;
}

.sectionPhones .first-container {
    height: 24vh;
}

.second-container h1 {
    padding-top: 30vh;
    font-size: 2.2rem;
}

.second-container {
    border-radius: 0px 12vmax 0px 12vmax;
}

.sectionCharacteristic img {
    scale: 1.3;
}

.first-column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media (min-width: 576px) {
    .navbar {

        .navbar-toggler,
        .offcanvas {
            display: none;
        }
    }

    .first-column {
        display: flex;
        padding-bottom: 8vw;
        align-items: flex-start;
    }

    .algo {
        display: flex;
        width: 45%;
        flex-direction: column;
    }

    .sectionImg {
        position: relative;
    }

    .algo2 {
        img {
            position: absolute;
            margin: auto;
            width: 50%;
            top: 0;
            bottom: 0;
        }
    }
}