.container-fluid.bg-primary {
    height: 60vh;
    background-image: url('../assets/bg-pattern-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position-y: 31%;
    background-position-x: 35%;
    border-radius: 0px 0px 0px 12vmax;
    background-size: 335%;
}